In [1]:
import keyword
print(keyword.kwlist)
a=len(keyword.kwlist)
print(a)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
35

In [2]:
#single line comment--->shows the single line comment.
print('hello my dear friends')

hello my dear friends

In [3]:
"""
multi line comment
how are you all
have a nice day guys
"""
print('hello CSE people')

hello CSE people

In [4]:
#Creating a list with constructor()
a=([1,2,3,4,5])
b=([2.4,7.0,6.8])
c=(['hello','students'])
print(a)
print(b)
print(c)

[1, 2, 3, 4, 5]
[2.4, 7.0, 6.8]
['hello', 'students']

In [5]:
type(a)

list

In [8]:
#creating list with heterogenous data:
a=(['hello',8,9,20.77])
a

['hello', 8, 9, 20.77]

In [9]:
#create list using range function:
L=list(range(0,6))
print(L)

[0, 1, 2, 3, 4, 5]

In [10]:
#creating a list without constructor():
days=['monday','tuesday','wednesday','thursday','friday','saturday','sunday']
days

['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday']

In [11]:
#accesing list items using index values:
days[1]

'tuesday'

In [12]:
#negative indexing:
#creating a list without constructor():
days=['monday','tuesday','wednesday','thursday','friday','saturday','sunday']
days[-1]

'sunday'

In [13]:
days[:]

['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday']

In [14]:
#list slicing:
days[1:4]

['tuesday', 'wednesday', 'thursday']

In [15]:
#list slicing with step size:
days=['monday','tuesday','wednesday','thursday','friday','saturday','sunday']
days[1:4:2]

['tuesday', 'thursday']

In [16]:
#example1:
days=['monday','tuesday','wednesday','thursday','friday','saturday','sunday']
len(days)

7

In [20]:
numbers=[1,2,3,4,5,6,7,8]
max(numbers)

8

In [21]:
min(numbers)

1

In [22]:
sum(numbers)

36

In [23]:
import random
random.shuffle(numbers)
print(numbers)

[6, 7, 4, 8, 2, 5, 3, 1]

In [24]:
#examples on operator:
a=[1,2,3]
b=[4,5,6]
c=a+b
print(c)

[1, 2, 3, 4, 5, 6]

In [25]:
a=[10,20]
b=3*a
print(b)

[10, 20, 10, 20, 10, 20]

In [26]:
days=['monday','tuesday','wednesday','thursday','friday','saturday','sunday']
'wednesday' in days

True

In [27]:
days=['monday','tuesday','wednesday','thursday','friday','saturday','sunday']
'wednesday' not in days

False

In [28]:
a='Arshiya'
b='Arshiya'
a is b

True

In [29]:
a='Arshiya'
b='Lubna'
a is b

False

In [30]:
del[days[1]]
days

['monday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday']

In [31]:
a=['a','b','c','d']
print(a)
a.append('e')
print(a)

['a', 'b', 'c', 'd']
['a', 'b', 'c', 'd', 'e']

In [32]:
list=['red','orange','pink','black']
print(list)
list.clear()
print(list)

['red', 'orange', 'pink', 'black']
[]

In [33]:
nums=[1,2,3,4,1,4,1,7,8,1]
print(nums)
nums.count(1)

[1, 2, 3, 4, 1, 4, 1, 7, 8, 1]

4

In [34]:
list_1=[1,2,3,4]
print(list_1)
list_2=list_1.copy()
print(list_2)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [35]:
A=[1,3,2,4,5]
B=[5,6,7,3,6]
print(A)
print(B)
A.extend(B)
print(A)

[1, 3, 2, 4, 5]
[5, 6, 7, 3, 6]
[1, 3, 2, 4, 5, 5, 6, 7, 3, 6]

In [36]:
#creating tuple with single element:
a=(5,)
print(a)
print(type(a))

(5,)
<class 'tuple'>

In [37]:
#creating tuple with integers
a=(1,2,3,4,5)
print(a)

(1, 2, 3, 4, 5)

In [38]:
#creating tuple with integers
t=(1,2,3,4,5)
t

(1, 2, 3, 4, 5)

In [39]:
#creating tuple with float numbers
t=(1.2,2.3,3.4,4.5)
t

(1.2, 2.3, 3.4, 4.5)

In [40]:
#creating tuple with strings
t=('hello','hai','bye')
t

('hello', 'hai', 'bye')

In [41]:
#creating tuple multiple data types
t=(1,2.3,'hello')
t

(1, 2.3, 'hello')

In [42]:
#accessing items of tuple
t[0]

1

In [43]:
#create a dictionary
d={1:'value','key':2}
d

{1: 'value', 'key': 2}

In [44]:
len(d)

2

In [45]:
type(d)

dict

In [48]:
x=d.keys()
x

dict_keys([1, 'key'])

In [47]:
y=d.values()
y

dict_values(['value', 2])

In [49]:
z=d.items()
z

dict_items([(1, 'value'), ('key', 2)])

In [50]:
set1={1,2,3}
set1

{1, 2, 3}

In [52]:
#duplicates not allowed
set={1,2,3,4,5,6,7,1,1}
set

{1, 2, 3, 4, 5, 6, 7}

In [53]:
len(set)

7

In [54]:
type(set)

set

In [55]:
def add():
    a=10
    b=20
    c=a+b
    return c
add()
print(add())

30

In [60]:
# Built-in function
print("This is a built-in function example.")
numbers = [1, 2, 3, 4, 5]
print("Sum of numbers:", sum(numbers)) 

# User-defined function
def square(number):
    """
    This function takes a number and returns its square.
    """
    return number * number


num = 6
print(f"The square of {num} is:", square(num))

# Anonymous function (lambda)
multiply = lambda x, y: x * y


a = 3
b = 4
print(f"The product of {a} and {b} is:", multiply(a, b))

This is a built-in function example.
Sum of numbers: 15
The square of 6 is: 36
The product of 3 and 4 is: 12